<div class="containe">
  <div class="options-container">
    <div class="row">
      <div class="option option-link col-10 col-lg-3">
        <%= link_to "", science_path %>
        <div class="option-description">
          <h4>Fernando, what does the future hold?</h4>
        </div>
        <div class="option-header" id="science">
          <h2>science</h2>
        </div>
      </div>
      <div class="option option-link col-10 col-lg-3" id="fun">
        <%= link_to "", fun_path %>
        <div class="option-description">
          <h4>Make me chuckle</h4>
        </div>
        <div class="option-header">
          <h2>fun</h2>
        </div>
      </div>
      <div class="option option-link col-10 col-lg-3" id="wtf">
        <%= link_to "", wtf_path %>
        <div class="option-description">
          <h4>Baffle me</h4>
        </div>
        <div class="option-header">
          <h2>wtf</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="option option-link col-10 col-lg-3" id="art">
        <%= link_to "", art_path %>
        <div class="option-description">
          <h4>Show me something beautiful</h4>
        </div>
        <div class="option-header">
          <h2>art</h2>
        </div>
      </div>
      <div class="option option-link col-10 col-lg-3" id="porn">
        <%= link_to "", porn_path %>
        <div class="option-description">
          <h4>Penises, skin and fluids</h4>
        </div>
        <div class="option-header">
          <h2>porn</h2>
        </div>
      </div>
      <div class="option option-link col-10 col-lg-3" id="spirituality">
        <%= link_to "", spirituality_path %>
        <div class="option-description">
          <h4>Enlighten me</h4>
        </div>
        <div class="option-header">
          <h2>spirituality</h2>
        </div>
      </div>
    </div>
  </div>
    <div class="content">
      <%= link_to "" %>
    </div>
</div>